<% content_for :page_title do %>
  <%= @taxon.name %>'s Banners
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to t(:add_banner), new_admin_taxon_enhanced_banner_path(:taxon_id => @taxon.id), { :class => "btn-success", :icon => 'add', :id => 'admin_new_banner' } %>
<% end %>

<div id='list-banners' data-hook>
  <%= render :partial => 'list' %>
</div>