<div id="container-table" data-hook="admin-container-table-add-banner-taxon">
  <table class="table taxon-table" data-hook="admin-table-add-banner-taxon">
    <thead>
    </thead>
    <tbody>
      <% @taxons.each do |taxon| %>
        <tr>
          <td>
            <%= taxon.name %>
          </td>
          <td class="actions actions-2 text-right">
            <%= link_to_banners admin_taxon_enhanced_banners_path(:taxon_id => taxon.id), :no_text => true, class: 'edit' %>
            <%= link_to_configuration edit_config_admin_taxon_path(:id => taxon.id), :no_text => true, class: 'update' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>